@require "../../constants.styl"

.temptation
  font-weight bold
      
  &__cute
    font-size 35px
    position absolute
    left 25%
    top 30%
    
  &__nifty
    font-size 40px
    position absolute
    left 30%
    top 70%
    
  &__amazing
    font-size 45px
    position absolute
    left 65%
    top 40%
    