@require "../../constants.styl"

.temptation
  font-weight bold
      
  &__cute
    font-size 2.50rem
    position absolute
    left 25%
    top 30%
    
  &__nifty
    font-size 2.86rem
    position absolute
    left 30%
    top 70%
    
  &__amazing
    font-size 3.21rem
    position absolute
    left 65%
    top 40%
    