@require "../../constants.styl"

.temptation
  background theme-color-3
  height 100vh
  width 100%
  padding 10px 10px
  
  &__join
    display flex
    justify-content center
    border 3px solid theme-color-1
    width 300px
    padding 10px
    border-radius 10px
    margin-left calc(50% - 300px)
    margin-top 40vh
    
  &__join-message    
    font-size 30px
    font-weight bold
    margin-right 20px
    color theme-color-1
    
  &__cute
    font-size 35px
    position absolute
    left 20%
    top 30%
    
  &__nifty
    font-size 40px
    position absolute
    left 25%
    top 70%
    
  &__amazing
    font-size 45px
    position absolute
    left 60%
    top 40%

    
.body
  overflow hidden