@require "~constants.styl"
@require "./constants.styl"

button-theme(background-color, border-color)
  background background-color
  border 0.07rem solid border-color
  if background-color == white
    color border-color

.button
  position relative
  border-radius 0.21rem
  text-transform uppercase
  font-weight heavy
  cursor pointer
  overflow hidden
  color white
    
  &__ripple-effect
    position absolute
    border-radius 50%
    width 0.21rem
    height 0.21rem
    background white
    animation  ripple-animation 1s


  &_size
    &_big
      font-size 1.00rem
      min-width 8.57rem
      height button-height-big
    &_small
      font-size 0.79rem
      min-width 5.57rem
      height 1.57rem

  &_theme
    &_dark-1
      button-theme(theme-color-1, theme-color-1)
    &_dark-2
      button-theme(theme-color-2, theme-color-2)
    &_light-1
      button-theme(white, theme-color-1)
    &_light-2
      button-theme(white, theme-color-2)

  &_shadow
    &_dark-1
      box-shadow 0 0.21rem 0 0 darken(theme-color-1, 10)
    &_dark-2
      box-shadow 0 0.21rem 0 0 darken(theme-color-2, 10)
    &_light-1
      box-shadow 0 0.21rem 0 0 darken(theme-color-1, 10)
    &_light-2
      box-shadow 0 0.21rem 0 0 darken(theme-color-2, 10)
    &_none
      box-shadow none

  &_hidden
    visibility hidden




@keyframes ripple-animation
  from
    transform scale(1)
    opacity 0.5

  to
    transform scale(50)
    opacity 0
