@require "./constants.styl"

button-theme(background-color, border-color)
  background background-color
  border 0.07rem solid border-color
  if background-color == white
    color border-color
    
unpressed-rules(bottom-size, color)
  box-shadow 0 bottom-size 0 0 darken(color, 10)
  margin-bottom bottom-size
    

pressing-rules(bottom-shadow-size)
  &^[0]_theme
    &_dark-1
    &_light-1
    &_dark-2
    &_light-2
      &^[0]_pressed
        transform translateY(bottom-shadow-size)
        box-shadow none

    &_dark
    &_light
      &-1
        unpressed-rules(bottom-shadow-size, theme-color-1)
      &-2
        unpressed-rules(bottom-shadow-size, theme-color-2)

.button
  position relative
  border-radius 0.21rem
  text-transform uppercase
  font-weight heavy
  cursor pointer
  overflow hidden
  color white
  transition height 0.5s
  padding 0.1rem 0.5rem
    
  &__ripple-effect
    position absolute
    border-radius 50%
    width 0.21rem
    height 0.21rem
    background white
    animation  ripple-animation 1s

  &_size
    &_big
      font-size 0.9rem
      min-width button-big-min-width
      height button-big-height
      pressing-rules(0.21rem)
    &_small
      font-size 0.79rem
      min-width button-small-min-width
      height button-small-height
      pressing-rules(0.15rem)
      
  &_theme
    &_dark-1
      button-theme(theme-color-1, theme-color-1)
    &_dark-2
      button-theme(theme-color-2, theme-color-2)
    &_light-1
      button-theme(white, theme-color-1)
    &_light-2
      button-theme(white, theme-color-2)
      
  &_shadow-none
    box-shadow none

  &_hidden
    visibility hidden

  &_collapsed
    height 0
    border-width 0


@keyframes ripple-animation
  from
    transform scale(1)
    opacity 0.5

  to
    transform scale(50)
    opacity 0
