@require "~constants.styl"
  
.calendar   
  &__day
    padding-top 1.07rem
    text-align center
    width 19.86rem
    font light 5.71rem Lato
    background theme-color-2
    color white
    cursor default
    border-top-left-radius 0.29rem
    border-top-right-radius 0.29rem
    border none

  &__today-button
    width 100%
    text-transform uppercase
    height 3.5rem
    padding-left 1.3rem
    padding-top 0.3rem
    font-weight heavy
    font-size 1.1rem
    border none
    background theme-color-3
    color theme-color-3-foreground
    text-align left
    cursor pointer
    
  & .ui-state-default
  & .ui-widget
    border none
    font-family Lato
  
  & .ui-datepicker-year
    display none
        
  & .ui-datepicker 
    width 19.86rem
    padding 0
    
    & .ui-datepicker-month
      font-weight 300
    
    & .ui-datepicker-header
      border-radius 0
      color white
      background #d54c2c
      font-size 1.57rem
      border none

    & .ui-datepicker-next, .ui-datepicker-prev
      display flex
      justify-content center
      align-items center
      cursor pointer

      & > span
        display none
        
      &::after
        display block
        font-family FontAwesome
        color white
        
      &:hover
        background inherit
        font inherit
              
    & .ui-datepicker-next::after
      content '\f105'    
      
    & .ui-datepicker-prev::after
      content '\f104'          
      
    & thead th
      text-transform uppercase
      background theme-color-2
      color white
      font heavy 0.64rem Lato
      
    & td
      & a
        height 2.7rem
        font 1.43rem SourceSansPro
        text-align center
        color #999
      
      & .ui-state-active
        background lighten(theme-color-2, 15)
        color white
        
      & .ui-state-highlight
        background theme-color-2
        color white

    & .ui-datepicker-buttonpane
      margin 0
      padding 0
      
    & .ui-datepicker-calendar
      margin 0

    & .ui-datepicker-current
      background theme-color-3
      width 100%
      height 3.57rem
      padding-left 1.21rem
      margin 0
      opacity initial
      
      font-size 1.00rem
      color #999
      font-weight heavy
      text-align left
      text-transform uppercase
      
      border-bottom-left-radius 0.29rem
      border-bottom-right-radius 0.29rem
