mixin drop-down(name, options)
  .drop-down(class=attributes.mix || '')
    select.drop-down__select(name=name class=attributes.selectMix || '')
       each x in options
         option= x
    .drop-down__arrow
      .fa.fa-angle-down
      
  
 
    