.footer
  display flex
  justify-content center
  align-items center
  height 5rem
  background theme-color-1
  margin-top 3rem
  padding 1rem 1rem
  
  &__nav-and-year
    display flex
    justify-content space-between
    flex-wrap wrap
    max-width 25rem
    width 100%
  
  &__year
    color white
    
  &__link
    font-weight bold
    text-decoration none
    color white
    text-transform uppercase
    
    &:not(:first-child)
      margin-left 1rem
      
