include ../input-tooltip/input-tooltip.pug

mixin tooltiped-input(mix, inputMix)
  .tooltiped-input(class=mix || '')
    input.input(class=inputMix || '')&attributes(attributes)
    +input-tooltip('dark-2')(hidden)


mixin preview-tooltiped-input(text, tooltipTheme, mix, inputMix)
  .tooltiped-input(class=mix || '')
    input.input(class=inputMix || '')&attributes(attributes)
    +input-tooltip(tooltipTheme)= text
