@require "~constants.styl"

.tooltiped-input
  display flex
  align-items center
  
  &__tooltip
    font-weight heavy
    font-size 0.71rem
    text-transform uppercase
    height 2.00rem
    min-width 5.14rem
    
    &-pointer
      width 0.93rem
      height 0.93rem    

      left -0.14rem
      bottom calc(50% - 0.50rem)
  
  