mixin tooltiped-input(mix)
  - console.log('mix', mix)
  .tooltiped-input(class=mix || '')
    input.input&attributes(attributes)
    +tooltip('dark-2', "left")(hidden)


mixin preview-tooltiped-input(text, tooltipTheme)
  .tooltiped-input
    input.input&attributes(attributes)
    +tooltip(tooltipTheme, "left")
      span= text