@require "./constants.styl"

.tooltiped-input
  display flex
  align-items center
  
  &__input
    width 100%
  
  &__tooltip
    font-weight heavy
    font-size 0.71rem
    text-transform uppercase
    height 2.00rem
    min-width tooltiped-input__tooltip-min-width
    margin-left tooltiped-input__tooltip-margin-left
    
    &-pointer
      width 0.85rem
      height 0.85rem    

      left -0.14rem
      bottom calc(50% - 0.47rem)
  
  