@require "../../constants.styl"

.tick-box
  position relative
  display flex
  align-items center
  justify-content center  
  width 25px
  height 25px
  border-radius 50%
  cursor pointer
  
  &_state
    &_on
      color white
      background theme-color-1
    &_off
      color #c0c0c0
      background theme-color-3

  &__input
    position absolute
    left 0
    bottom 0
    visibility hidden
      
  .preview-column &
    margin-right 10px