include ../tooltip/tooltip.pug

mixin slider-tooltip-container(theme)
  .slider-tooltip-container
    +tooltip('dark-2', 'slider-tooltip-container__tooltip', 'slider-tooltip-container__tooltip-pointer')
      block

