@require "../slider/constants.styl"

slider-tooltip-width = 2.50rem

.slider-tooltip-container
  position absolute  
  left (slider-handle-width / 2) - (slider-tooltip-width / 2)
  top -2.29rem
  
  &__tooltip
    width slider-tooltip-width
    height 1.71rem
    font-size 1.00rem
    font-weight heavy
    
    &-pointer
      width 1.4rem
      height @width
      left "calc(50% - %s)" % (@width / 2)
      bottom 0

  
