.slider-tooltip-container
  position absolute
  left -1.29rem
  top -2.29rem  
  
  &__tooltip
    width 2.50rem
    height 1.71rem
    font-size 1.00rem
    &-pointer
      left 33%
      bottom -0.14rem
      width 0.93rem
      height 0.93rem    

  
