doctype html
include ./blocks/button/button.pug
include ./blocks/arrow-button/arrow-button.pug
include ./blocks/tooltip/tooltip.pug
include ./blocks/slider/slider.pug
include ./blocks/stages/stages.pug
include ./blocks/input/input.pug
include ./blocks/toggle/toggle.pug
include ./blocks/tick-box/tick-box.pug
include ./blocks/search/search.pug

html(lang="en")
  head
    meta(charset="utf-8")
    title UI kit
  body    
    .preview-column
      .preview-column
        h2 standard buttons
        .preview-row.preview-row_button-row
          +button("dark-1", "small", "button")
          +button("dark-1", "big", "button")
          +button("dark-2", "big", "button")
          +button("dark-2", "small", "button")
        .preview-row.preview-row_button-row
          +button("light-1", "small", "button")
          +button("light-1", "big", "button")
          +button("light-2", "big", "button")
          +button("light-2", "small", "button")
      .preview-column
        h2 arrow buttons
        .preview-row
          each theme in ["light-1", "inactive", "dark-1"]
            each side in ["left", "right"]
              +arrow-button(theme, side)
      .preview-column
        h2 percentages / pie chart
        .preview-row 
          each percents in [0, 38, 62, 89]
            canvas.percentage(value=percents width=100 height=100)
          canvas.pie-chart(values=[10, 30, 30, 30] width=100 height=100)
      .preview-column
        h2 sliders
        .preview-row
          +slider("tooltiped")
          +slider("scaled")
      .preview-column
        h2 stages
        +stages(["1", "2", "3"], ["4", "5"])
      .preview-column
        h2 form elements
        .preview-row.preview-row_form-row
          form
            .preview-column
              .input
                input.input__field.input__field_tooltiped(type="text", placeholder="Your Name")
                +tooltip("dark-2", "text-field", "left") 
                  span ERROR
              .input
                input.input__field.input__field_tooltiped(type="text", placeholder="Your Email")
                +tooltip("dark-1", "text-field", "left")
                  span THANKS!
              textarea.text-area(placeholder="Your Message")
              +button("dark-1", "big", "submit")
          .preview-column.preview-column_right
            h2 toggles
            .preview-column
              .preview-row
                +toggle("off")
                +toggle("on")
            h2 tick boxes
            .preview-column
              .preview-row
                +tick-box("on")
                +tick-box("off")
      .preview-row
        .preview-column
          h2 search / drop down
          +search()
