doctype html

include ./blocks/header/header.pug
include ./blocks/button/button.pug

html(lang="en")
  head
    meta(charset="utf-8")    
    title Join YASN!
  body.body
    +header
    .temptation
      .temptation__join 
        .temptation__join-message Join us!
        +button("dark-1", "big", "Sign up")
      .temptation__cute Cute
      .temptation__nifty Nifty
      .temptation__amazing Amazing
      