.message-icon
  width 20px
  height 17px
  background #8e8d8d
  border-radius 5px
  
  &::after
    margin 17px 0 0 9px
    content ""
    box-sizing initial
    display block
    width 0
    height 0
    border-style solid
    border-width 0 6px 6px 0;
    border-color transparent  #8e8d8d transparent transparent
    border-bottom-right-radius 1px
  




