@require "./constants.styl"

*
  box-sizing border-box

html
  font-size 14px
  font-family Lato, Arial, sans-serif
  color #666
  background white
  
  @media screen and (max-width: 300px) 
    &
      font-size 12px
      
  @media screen and (max-width: 250px) 
    &
      font-size 10px      
      
body 
  margin 0
  
