extends ../commentable/commmentable.pug

include ../commentable/comment.pug
include ../news/news.pug
include ../video/video.pug

block commented-item
  +news('It’s all going downhill', '24 august 2013', 'bicyclist.png')
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.

block comments
  - const sarahImagePath = require('user-photos/sarah.png')
  +comment('Sarah Brown', 'Developer', sarahImagePath, 'dark-1')
    | What is this?
  +comment('Sarah Brown', 'Developer', sarahImagePath, 'dark-1')
    | This is music thread now
    +video('-v3yQsbo22s')
  +comment('Sarah Brown', 'Developer', sarahImagePath, 'dark-1')
    +video('rn_YodiJO6k')    
