.message-icon
  width 1.43rem
  height 1.21rem
  background #8e8d8d
  border-radius 0.36rem
  
  &::after
    margin 1.21rem 0 0 0.64rem
    content ""
    box-sizing initial
    display block
    width 0
    height 0
    border-style solid
    border-width 0 0.43rem 0.43rem 0;
    border-color transparent #8e8d8d transparent transparent
    border-bottom-right-radius 0.07rem
  




