extends ../base-page/base-page.pug

include ~blocks/header/header
include ~blocks/calendar/calendar

block body
  +header
  .user-page__body
    block main-menu
    main.user-page__main
      block main
    .user-page__calendar
      +calendar
      