@require "../header/constants.styl"
@require "../main-menu/constants.styl"
@require "../calendar/constants.styl"

main-max-width = 35rem
max-spacing = 10rem
min-spacing = 1rem

.user-page
  display flex
  justify-content space-between
  max-width main-menu-max-width + main-max-width + calendar-max-width + max-spacing * 2
  width 100%
  
  &__main
    width 100%
    max-width 35rem
    margin-right 1rem

  @media screen and (max-width: 800px)
    &
      flex-direction column
    &__calendar
      margin-top 1rem
