extends ../page/page.pug

include ~blocks/header/header
include ~blocks/calendar/calendar

block page-content
  .user-page
    block main-menu
    main.user-page__main
      block main
    .user-page__calendar
      +calendar
