mixin search()
  .search
    form
      .input
        input.input__field.input__field_search(type="text", placeholder="Search")
        buttton.search__button
          .fa.fa-search
    .search__results.search__results_empty.search__results_hidden                        
      div I’ve not found what I’m looking for...
      .fa.fa-search