mixin search(mix)
  .search
    form.search__form(class=mix || '')
        input.input.search__input(type="text", placeholder="Search")
        buttton.search__button
          .fa.fa-search
    .search__results.search__results_empty.search__results_hidden                        
      div I’ve not found what I’m looking for...
      .fa.fa-search