@require "../../constants.styl"

pages = 4
tempted-width = 500px
field-top-margin = 12px
sign-up-padding = 20px

.sign-up
  display flex
  flex-direction column
  justify-content space-between  
  overflow hidden
  border 3px solid theme-color-1
  width 300px
  height 70px
  padding sign-up-padding
  border-radius 10px
  margin auto
  margin-top 200px  
  transition border-color 0.5s, width 0.5s linear 0.5s, height 0.5s linear 0.5s
      
  &_tempted


    border-color theme-color-2
    width 500px
    height 300px
              
  &__join
    display flex
    justify-content center
    align-items center
    
    &_removed
      display none

    & > .button
      transition height 0.5s
      &_tempted
        height 0
        border-width 0
          
  &__join-message    
    font-size 30px
    font-weight bold
    margin-right 20px
    color theme-color-1
    transition opacity 0.5s
    
    &_tempted
      opacity 0
      
  &__form
    margin-top 30px
    width 100%
    
  &__blocks-container
    display flex
    width tempted-width * pages
    transition transform 0.5s
    

  &__drop-down-field
    display flex
    align-items center
    margin-top field-top-margin
    
    & .drop-down
      margin-top 0
  
  &__drop-down-field-label
    width 100px
      
  &__block
    width tempted-width - (2 * sign-up-padding)
    margin-right 2 * sign-up-padding
    display flex
    flex-direction column

  &__message
    align-self center
    text-align center
    
  & > .button
    align-self flex-end
          
  & .stages
    align-self center
    opacity 0
    transition opacity 0.5s linear 0.5s
    
    &_tempted
      opacity 1
      
  & .tick-box-field
    margin-top 5px
    width 70%    
    
  & .tick-box-field + .tick-box-field
    margin-top 10px
  
  & .link
    margin-top 15px
    align-self center
  
  & .input
  & .tick-box-field
    margin-top field-top-margin
