@require "../../constants.styl"


.messenger
  display flex
  flex-direction column
  justify-content center

  width 288px
  
  &__name
    border-top-left-radius 3px
    border-top-right-radius 3px
    width 100%
    background theme-color-1
    height 82px
    text-align center
    color white
    font light 34px SourceSansPro
    padding-top 16px
    
  &__photo-container
    background darken(theme-color-1, 5)
    height 34px
    text-align center
    
  &__photo
    display inline-block
    margin-top -11px
        
  &__icons
    display flex
    justify-content space-between
    margin 22px 27px

  
    
  &__scroll-view
    margin auto
    height 200px
    width 83%
    overflow-y auto
    
  &__message-list
    margin auto
    width 100%
    display flex
    flex-direction column
    justify-content flex-end
    min-height 100%
    padding 20px 0
    
    
  &__message
    color #999
    font-weight bold
    font-size 13px
    margin 10px 0 0 0
    padding 5px 0
    &_self
      border-radius 3px
      background lighten(theme-color-1, 30)

  & .text-area, .preview-column & .text-area
    width 83%
    height 80px
    margin auto
    font bold 13px Lato
    
  & .button
    margin auto    
    width 83%
    margin-top 20px

 .preview-column &
   margin-left 20px