@require "~constants.styl"
@require "./constants.styl"


.header
  display flex
  justify-content space-between
  align-items center
  width 100%
  height header-height
  background-color theme-color-2
  padding 0 1.43rem
  
  &__title
    color theme-color-3
    font-size 4.29rem
    font-style italic
    font-weight heavy
    cursor default
    
