.preview-row
  display flex
  justify-content space-between
  margin-top 1.07rem
  
  & form .input 
    align-self flex-start
    width 15rem
  
  &:last-child
    margin-top 0
  &_button-row
    align-items flex-end
