.contacts-content
  &__row
    display flex
    flex-wrap wrap
  
  &__table
    margin-right 10rem
    border-collapse collapse
    font-size 1.5rem
    
    &-row
      text-align left
   
    &-header
      padding-right 2rem
      font-weight heavy
      
    
