@require "~constants.styl"

.text-area
  color theme-color-3-foreground
  background theme-color-3
  border none
  padding 0.7rem 0.85rem
  border-radius 0.14rem
  font 1.00rem SourceSansPro
  resize none
