@require "../../constants.styl"


.input
  display flex
  align-items center
  margin-bottom 12px
  
  &__field
    padding 3px 12px
    background theme-inactive-color
    color #999
    border none
    margin-right 7px
    height 28px
    //- font-family SourceSansPro
    //- font-size 14px
    font 14px SourceSansPro
    
    .preview-column &
      width 210px
