include ../tooltip/tooltip.pug

mixin tooltiped-input(text, tooltipTheme)
  .input 
    input.input__field.input__field_tooltiped&attributes(attributes)
    +tooltip(tooltipTheme, "left") 
      span= text