@require "../../constants.styl"


.input
  display flex
    
  &__field
    padding 3px 12px
    background theme-color-3
    color theme-color-3-foreground
    border none    
    height 28px
    font 14px SourceSansPro
    border-radius 2px
    
    &_tooltiped
      width 210px
      margin-right 7px
      //- margin-bottom 12px
      
    &_search
      width 270px
    
  
    
  & + &
    margin-top 12px