mixin drop-down(name, width, options)
  .drop-down(style={width: `${width}px`})
    select.drop-down__select(name=name)
       each x in options
         option= x
    .drop-down__arrow
      .fa.fa-angle-down
 
    