@require "../../constants.styl"

.drop-down
  display flex
  position relative

  &__select
    background theme-color-3
    border none
    height 2.00rem
    width 100%
    padding 0.21rem 0.86rem
    font 1.00rem SourceSansPro
    color #999
    border-radius 0.14rem
    border-top-right-radius 0.36rem
    border-bottom-right-radius 0.36rem

  &__arrow
    display flex
    align-items center
    justify-content center
    color white
    font-size 1.36rem
    right 0
    width 2.36rem
    height 2.00rem
    border-top-right-radius 0.14rem
    border-bottom-right-radius 0.14rem
    background theme-color-1
    position absolute

    pointer-events none

  .preview-column &
    margin-top 0.71rem