@require "~constants.styl"

.news
  display flex
  color white
  
  &__image
    border-top-left-radius 0.21rem
    border-bottom-left-radius 0.21rem
    
  &__description
    border-top-right-radius 0.21rem
    border-bottom-right-radius 0.21rem
    width 13.8rem
    background theme-color-2
    padding-top 1.7rem
    padding-left 1.55rem
    padding-right 1rem
    
  &__title
    font-weight light
    font-size 2.14rem
    line-height 90%
    letter-spacing -0.04rem
    
  &__date
    margin-top 0.71rem
    font-weight heavy
    font-size 0.7rem
    text-transform uppercase
    letter-spacing 0.13rem
    
  &__text
    letter-spacing 0.035rem
    margin-top 0.9rem
    font-size 0.82rem
    line-height 1rem