mixin news(title, date, image)
  .news
    img.news__image(src=require("blocks/news/images/" + image) alt=title + ' image')
    .news__description
      .news__title= title
      .news__date= date
      .news__text
        block
