
left-padding = 1.55rem

.news
  color white
  border-top-right-radius 0.21rem
  border-bottom-right-radius 0.21rem
  max-width 20.5rem
  background theme-color-2
  padding-right 1rem

  padding-left left-padding

  &__image
    border-top-left-radius 0.21rem
    border-bottom-left-radius 0.21rem
    float left
    margin-left - left-padding
    padding-right left-padding
    
  &__description
    display inline
    padding-top 4rem
    
  &__title
    margin-top 1.7rem
    font-weight light
    font-size 2.14rem
    line-height 90%
    letter-spacing -0.04rem
    
  &__date
    margin-top 0.71rem
    font-weight heavy
    font-size 0.7rem
    text-transform uppercase
    letter-spacing 0.13rem
    
  &__text
    letter-spacing 0.035rem
    margin-top 0.9rem
    font-size 0.82rem
    line-height 1rem