@require "~constants.styl"

.toggle
  display flex
  align-items center
  justify-content space-between
  width 4.29rem
  height 1.71rem
  border-radius 1.07rem
  font-size 0.86rem
  font-weight heavy
  color white
  cursor pointer
  
  &_state
    &_on
      background theme-color-1
      &::before
        margin-left 0.79rem
        content "ON"
    &_off
      background theme-color-3      
      &::after
        margin-right 0.79rem
        content "OFF"
      
  &__handle
    margin 0 0.21rem
    background white
    height 1.29rem
    width 1.29rem
    border-radius 50%

  .preview-column &:first-child
    margin-right 1.07rem