mixin tooltip(theme, pointerLocation, mix, pointerMix)
  - const classnames = require('classnames')
  - 
    const tooltipClass = classnames(
      'tooltip_theme_' + theme, 
      { 'tooltip_hidden': attributes.hidden }, 
      mix
    )
  - const pointerClass = classnames('tooltip__pointer_location_' + pointerLocation, pointerMix)
  .tooltip(class=tooltipClass)
    .tooltip__pointer(class=pointerClass)
    .tooltip__text
      block
    