mixin tooltip(theme, mix, pointerMix)
  - const classnames = require('classnames')
  - 
    const tooltipClass = classnames(
      'tooltip_theme_' + theme, 
      { 'tooltip_hidden': attributes.hidden }, 
      mix
    )
  .tooltip(class=tooltipClass)
    .tooltip__pointer(class=pointerMix || '')
    .tooltip__text
      block
    