@require "~constants.styl"
json('./constants.json')

pages = 4
field-top-margin = 0.86rem
sign-up-padding = 1.43rem

.sign-up
  position relative
  display flex
  flex-direction column
  justify-content space-between  
  overflow hidden
  border 0.21rem solid theme-color-1
  width 21.43rem
  height 5.00rem
  padding sign-up-padding
  border-radius 0.71rem
  margin auto
  margin-top 14.29rem
  transition border-color 0.5s, width 0.5s linear 0.5s, height 0.5s linear 0.5s
  background white
      
  &_tempted
    border-color theme-color-2
    width 35.71rem
    height 21.43rem
              
  &__join
    display flex
    justify-content center
    align-items center
    
    &_removed
      display none
          
  &__join-message    
    font-size 2.14rem
    font-weight bold
    margin-right 1.43rem
    color theme-color-1
    transition opacity 0.5s
    
    &_transparent
      opacity 0

  &__stages
    align-self center
    opacity 0
    transition opacity 0.5s linear 0.5s
    
    &_opaque
      opacity 1
      
  &__form
    display none
    margin-top 2.14rem
    width 100%
    
    &_tempted
      display flex
      flex-direction column
      
    &-button    
      transition opacity 0.5s linear 1s
      opacity 0
      align-self flex-end
      margin-top 1rem
      
      &_opaque
        opacity 1        
    
  &__sections-container
    display flex
    width full-section-width * pages
    transition transform 0.5s
    

  &__drop-down-field
    display flex
    align-items center
    margin-top field-top-margin
      
  &__drop-down-field-label
    width 7.14rem
      
  &__section
    width full-section-width - (2 * sign-up-padding)
    margin-right 2 * sign-up-padding
    display flex
    flex-direction column
    
  &__first-section-tooltiped-input
    opacity 0
    transition opacity 0.5s linear 0.6s
    &_opaque
      opacity 1
    
  &__message
    align-self center
    text-align center

  &__link
    margin-top 1.07rem
    align-self center
    
  &__field
    &:not(:first-child)
      margin-top field-top-margin
    