include ~blocks/button/button.pug
include ~blocks/stages/stages.pug
include ~blocks/tooltiped-input/tooltiped-input.pug
include ~blocks/tick-box-field/tick-box-field.pug
include ~blocks/drop-down/drop-down.pug
include ~blocks/link/link.pug
include ~blocks/birthday-dropdowns/birthday-dropdowns.pug

mixin sign-up-tooltiped-input(mix)
  +tooltiped-input({ 
    main: ['sign-up__field sign-up__tooltiped-input', mix], 
    input: 'sign-up__input', 
    tooltip: 'sign-up__tooltip'
  })&attributes(attributes)

mixin first-section-tooltiped-input
  +sign-up-tooltiped-input('sign-up__first-section-tooltiped-input js-sign-up__first-section-tooltiped-input')&attributes(attributes)
  


mixin sign-up
  .sign-up.js-sign-up
    .sign-up__join.js-sign-up__join
      .sign-up__join-message.js-sign-up__join-message Join us!
      +button('dark-1', 'big', 'Sign up', 'js-sign-up__join-button')
    +stages([1], [2,3,4], 'sign-up__stages js-sign-up__stages')
    form.sign-up__form.js-sign-up__form
      .sign-up__sections-container.js-sign-up__sections-container
        .sign-up__section.js-sign-up__section_first
          +first-section-tooltiped-input(type='text', placeholder='Your Login')
          +first-section-tooltiped-input(type='password' placeholder='Your Password')
          +first-section-tooltiped-input(type='password', placeholder='Repeat Password')

        .sign-up__section
          +sign-up-tooltiped-input('js-sign-up__email-tooltiped-input')(type='email', placeholder='Your Email')
          +tick-box-field('checkbox', "I'd like to receive YASN newsletter", 'wants_newsletter','off', 'sign-up__field')
          +tick-box-field('checkbox', "I'd like to receive YASN notifications", 'wants_notifications', 'on', 'sign-up__field')

        .sign-up__section
          +sign-up-tooltiped-input(type='text', placeholder='Your First Name')
          +sign-up-tooltiped-input(type='text', placeholder='Your Second name')
          .sign-up__drop-down-field
            .sign-up__drop-down-field-label Birthday
            +birthday-dropdowns

        .sign-up__section
          .sign-up__message Finished! Unfortunately signing up doesn't work here, but you still can to sign in as John Smith.
          +link('sign-up__link')(href='./news.html') Sign in as John Smith            
      +button('dark-2', 'big', 'next', 'sign-up__form-button js-sign-up__form-button')