  
.photocam-icon
  &__top-part
    margin auto
    width 0.93rem
    height 0.21rem
    background #8e8d8d
    border-top-right-radius 0.07rem
    border-top-left-radius 0.07rem
    
  &__main-part
    border-radius 0.07rem
    display flex
    align-items center
    justify-content center    
    width 1.71rem
    height 1.14rem
    background #8e8d8d
    border-bottom-right-radius 0.07rem
    border-top-left-radius 0.07rem
    
  &__circle
    width 0.71rem
    height 0.71rem
    background #8e8d8d
    border 0.15rem solid white
    border-radius 50%
    
