@require "../../constants.styl"


.tooltip
  .slider &
    position absolute
    left -18px
    top -32px

  &__body
    position relative
    margin 0px 10px
    color white
    display flex
    flex-direction column
    align-items center
    justify-content center
    border-radius 3px
    
    .input &
      font-weight heavy
      font-size 10px
      height 28px      
      min-width 72px
      
    .slider &
      width 35px
      height 24px    
      font-size 14px
      
    .user-profile &
      height 93px
      width 163px
      border-radius 9px
    
    
    &_theme
      &_dark-1
        background theme-color-1
      &_dark-2
        background theme-color-2
      &_gray
        background theme-color-3        
        
    
  &__pointer
    display block
    transform rotate(45deg)
    border-radius 2px
    position absolute
    width 13px
    height 13px
    background inherit
    
    .user-profile &
      width 26px
      height 26px
    
    &_location
      &_bottom
        left 33% 
        bottom -2px
      &_left
        left -2px
        bottom calc(50% - 7px)
        
        .user-profile &
          bottom calc(50% - 13px)
                     
      
  &__text
    display flex
    flex-direction column
    align-items center
    z-index 1
