mixin tooltip(theme, relation, pointerLocation)
  .tooltip(class=`tooltip_theme_${theme} tooltip_relation_${relation} tooltip_hidden`)
    .tooltip__container
      .tooltip__text
      .tooltip__pointer(class=`tooltip__pointer_location_${pointerLocation} tooltip__pointer_theme_${theme}`)