@require "../../constants.styl"

.text-area
  color #999
  background theme-inactive-color
  border none
  padding 3px 12px
  border-radius 2px

  font 14px SourceSansPro
  .preview-column &
    align-self flex-start
    width 300px
    height 90px