@require "../../constants.styl"

.text-area
  color #999
  background theme-inactive-color
  border none
  padding 3px 12px
  border-radius 2px

  font 14px SourceSansPro
  .preview-column &
      width 290px
      height 90px