@require "../../constants.styl"

.text-area
  color theme-color-3-foreground
  background theme-color-3
  border none
  padding 0.21rem 0.86rem
  border-radius 0.14rem

  font 1.00rem SourceSansPro
  .preview-column form &
    align-self flex-start
    width 21.43rem
    height 6.43rem
    margin-top 0.86rem