include ../tick-box/tick-box.pug

mixin tick-box-field(type, label, value, state)
  .tick-box-field
    +tick-box(type, value, state)&attributes(attributes)
    label.tick-box-field__label(for=`${value}-field`)= label