- const items = ['news', 'events', 'polls', 'messages', 'settings']

mixin main-menu(activeItem)
  .main-menu
    each item in items
      - var ref = `./${item}`;
      if item === activeItem
        a.main-menu__item.main-menu__item_state_active(href=ref)= item
      else
        a.main-menu__item.main-menu__item_state_inactive(href=ref)= item
      