mixin main-menu(activeItem)
  - const items = ['news', 'events', 'polls', 'messages', 'profile']
  nav.main-menu
    each item in items
      - var ref = `./${item}.html`;
      if item === activeItem
        a.main-menu__item.main-menu__item_state_active(href=ref)= item
      else
        a.main-menu__item.main-menu__item_state_inactive(href=ref)= item
