mixin contact-list(contacts)
  .contact-list
    h2.heading Contacts
    each contact in contacts
      if contact.active
        .contact-list__contact.contact-list__contact_state_active= contact.name
      else
        .contact-list__contact.contact-list__contact_state_inactive= contact.name
      
    