.contact-list
  width 10rem
  border-left 0.1rem solid #666
  padding-left 0.4rem
      
  &__contact
    padding 0.1rem 0.2rem
    font-size 1.2rem
    cursor pointer
    &_state
      &_active
        background theme-color-1
        color white
      &_inactive
        color #666