.location
  max-width 42.36rem
  width 100%
  &__map
    height 14.29rem
    
  &__footer
    display flex
    align-items center
    justify-content space-between
    flex-wrap wrap
    min-height 5.00rem
    background theme-color-2
    color white
    padding 0 2.00rem
    border-bottom-right-radius 0.24rem
    border-bottom-left-radius 0.24rem
    
  &__text
    display flex
        
  &__message    
    font-size 2.14rem
    font-weight light
    
  &__address
    word-spacing 0.14rem
    margin-left 1.57rem
    font-size 0.93rem
    font-weight heavy
    text-transform uppercase
    
  &__icons
    font-size 2.14rem
    cursor default
    
    & .fa-map-marker
      margin-left 1.43rem
  
    
    
    