append scripts
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_US', type='text/javascript')

mixin location()
  .location
    .location__map(id="map")
    .location__footer
      .location__message Meet us!      
      .location__address 1259 California St <br> San Francisco, CA
      .location__icons
        .fa.fa-crosshairs
        .fa.fa-map-marker
      