@require "../../constants.styl"

.search
  position relative

  .preview-column &
    margin 1.43rem 0

  &__button
    display flex
    align-items center
    justify-content center
    color white
    font-size 0.93rem
    width 2.00rem
    height 2.00rem
    background theme-color-2
    cursor pointer
    border-top-right-radius 0.14rem
    border-bottom-right-radius 0.14rem
  &__results
    position absolute
    z-index 1

    &_hidden
      visibility hidden
    &_empty
      padding 0.21rem 0.86rem
      display flex
      align-items center
      justify-content space-between
      font-size 0.93rem
      background theme-color-2
      width 100%
      height 2.00rem
      color white
