@require "~constants.styl"
@require "./constants.styl"

.user-profile
  position relative
  
  &:hover .tooltip
    visibility visible

  //- &__photo
  //-   border 0.4rem solid #ccc
  //-   border-radius 50%
    
  &__name
    margin-top -0.36rem
    font-size 1.29rem
    
    &_theme
      &_dark-1 
        color white
      &_gray   
        color theme-color-2
    
  &__profession
    text-transform uppercase    
    font-size 0.79rem
    font-weight heavy
    
    &_theme
      &_dark-1
        color white
      &_gray
        color theme-color-3-foreground
    
  &__contacts
    margin-top 0.86rem
    font-size 1.79rem
    display flex
    justify-content space-between
    width 7rem
              
  &__reference
    color theme-color-2
    text-decoration none
    
    a[href=""]&      
      cursor default      
      &_theme
        &_dark-1
          color white
        &_gray
          color #666
              
  &__tooltip
    visibility hidden
    position absolute
    left 105%
    bottom "calc(50% - %s)" % (user-profile__tooltip-min-height / 2)
    
    min-height user-profile__tooltip-min-height
    width 11.64rem
    border-radius 0.64rem
    
    
    &-pointer
      bottom calc(50% - 0.93rem)
      left -0.14rem      
      width 1.86rem
      height 1.86rem
