@require "~constants.styl"
@require "../tooltip/constants.styl"

.user-profile
  display flex
  align-items center
  position relative
  
  &:hover .tooltip
    visibility visible
  
  & .tooltip
    visibility hidden
    position absolute
    left 100%
    bottom "calc(50% - %s)" % tooltip__user-profile-height / 2
        
  &__name
    margin-top -0.36rem
    font-size 1.29rem
    
    &_theme
      &_dark-1 
        color white
      &_gray   
        color theme-color-2
    
  &__profession
    text-transform uppercase    
    font-size 0.79rem
    font-weight heavy
    
    &_theme
      &_dark-1
        color white
      &_gray
        color theme-color-3-foreground
    
  &__contacts
    margin-top 0.86rem
    font-size 1.79rem
    display flex
    justify-content space-between
    width 100%
              
  &__reference
    color theme-color-2
    text-decoration none
    
    a[href=""]&      
      cursor default      
      &_theme
        &_dark-1
          color white
        &_gray
          color #666
    