@require "../../constants.styl"

.stages
  display flex
  justify-content space-between
  align-items center
  width 90%
  height 0.36rem
  border-radius 0.36rem  

  &__stage
    display flex
    align-items center
    justify-content center    
    width 2.07rem
    height 2.07rem
    border-radius 50%
    background theme-color-2
    font-size 1.07rem
    font-weight heavy
    
    &_face
      &_complete
        background theme-color-2
        color white
      &_incomplete
        background theme-color-3
        color #999
               
  .preview-column &
    margin-top 2.14rem
    width 42.86rem
