include ~blocks/button/button.pug
include ~blocks/arrow-button/arrow-button.pug
include ~blocks/percentage/percentage.pug
include ~blocks/pie-chart/pie-chart.pug
include ~blocks/tooltip/tooltip.pug
include ~blocks/slider/slider.pug
include ~blocks/stages/stages.pug
include ~blocks/tooltiped-input/tooltiped-input.pug
include ~blocks/toggle/toggle.pug
include ~blocks/tick-box/tick-box.pug
include ~blocks/search/search.pug
include ~blocks/drop-down/drop-down.pug
include ~blocks/user-profile/user-profile.pug
include ~blocks/news/news.pug
include ~blocks/event/event.pug
include ~blocks/location/location.pug
include ~blocks/calendar/calendar.pug
include ~blocks/messenger/messenger.pug
include ~blocks/video/video.pug

mixin section(name, headingModifier)
  - const classnames = require('classnames')
  -
    const headingClass = classnames('ui-kit-body__heading', 
      { [`ui-kit-body__heading_${headingModifier}`]: headingModifier })
  section.ui-kit-body__section
    h2.heading(class=headingClass)= name
    block
      
mixin standard-buttons-section
  mixin std-button(theme, size, name)
    +button(theme, size, name, 'ui-kit-body__button')
    
  +section('standard buttons')
    .ui-kit-body__row.ui-kit-body__row_standard-buttons
      .ui-kit-body__pair.ui-kit-body__pair_button
        +std-button('dark-1', 'small', 'button')
        +std-button('dark-1', 'big', 'button')
      .ui-kit-body__pair.ui-kit-body__pair_button
        +std-button('dark-2', 'big', 'button')
        +std-button('dark-2', 'small', 'button')
    .ui-kit-body__row.ui-kit-body__row_standard-buttons
      .ui-kit-body__pair.ui-kit-body__pair_button
        +std-button('light-1', 'small', 'button')
        +std-button('light-1', 'big', 'button')
      .ui-kit-body__pair.ui-kit-body__pair_button
        +std-button('light-2', 'big', 'button')
        +std-button('light-2', 'small', 'button')
  
mixin arrow-buttons-section
  +section('arrow buttons')
    .ui-kit-body__row.ui-kit-body__row_arrow-buttons
      each theme in ['light-1', 'inactive', 'dark-1']
        .ui-kit-body__pair.ui-kit-body__pair_arrow-button
          each side in ['left', 'right']
            +arrow-button(theme, side)
  
          
mixin percentages-and-pie-charts-section
  +section('percentages / pie chart')
    .ui-kit-body__row.ui-kit-body__row_percentages
      each percents in [0, 38, 62, 89]
        +percentage(value=percents)
      +pie-chart([10, 30, 30, 30])

      
                
mixin sliders-section
  +section('sliders')
    .ui-kit-body__row.ui-kit-body__row_sliders
      +slider('tooltiped')
      +slider('scaled')

      
mixin stages-section
  +section('stages')
    +stages(['1', '2', '3'], ['4', '5'], 'ui-kit-body__stages')
    


mixin form-elements-section    
  +section('form elements')
    .ui-kit-body__row.ui-kit-body__row_double-sectioned
      form.ui-kit-body__form
        +preview-tooltiped-input('ERROR', 
          'dark-2', 
          'ui-kit-body__form-tooltiped-input',
          'ui-kit-body__form-input')(type='text', placeholder='Your Name' )
        +preview-tooltiped-input('THANKS', 
          'dark-1', 
          'ui-kit-body__form-tooltiped-input',
          'ui-kit-body__form-input')(type='text', placeholder='Your Email')
        .ui-kit-body__form-text-area-and-button  
          textarea.text-area(placeholder='Your Message' class='ui-kit-body__form-text-area')
          +button('dark-1', 'big', 'submit', 'ui-kit-body__form-button')
      .ui-kit-body__double-sectioned-row-part
        +section('toggles', 'toggles')
          .ui-kit-body__row.ui-kit-body__row_toggles
            +toggle('off')
            +toggle('on')
        +section('tick boxes', 'tick-boxes')
          .ui-kit-body__row.ui-kit-body__row_tick-boxes
            +tick-box('checkbox', 'tick-box-1', 'on')
            +tick-box('checkbox', 'tick-box-2', 'off')

mixin search-dropdown-section
  +section('search / drop down')
    +search('ui-kit-body__search')
    +drop-down('fake', ['Choose An Option', 'Option A', 'Option B'])(mix='ui-kit-body__drop-down')

mixin user-profile-section
  +section('user profile')
    - const johnImagePath = require('user-photos/john.png')
    - const sarahImagePath = require('user-photos/sarah.png')
    +user-profile('John Smith', 'UX designer', johnImagePath, 'gray', 'ui-kit-body__profile')(twitter='https://twitter.com/john_smith')
    +user-profile('Sarah Brown', 'Developer', sarahImagePath, 'dark-1', 'ui-kit-body__profile')
      
mixin news-events-section
  +section('news & events')
    .ui-kit-body__row.ui-kit-body__row_double-sectioned
      +news('It’s all going downhill', '24 august 2013', 'bicyclist.jpeg')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
      +event('this is the title', '24', 'Aug', 'skyscrapers.jpeg')
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        
        
mixin location-section
  +section('location')
    +location([37.790988, -122.414978])
    
    
        
mixin calendar-messaging-sections
  .ui-kit-body__row.ui-kit-body__row_double-sectioned
    +section('calendar')
      +calendar
    +section('messaging')
      +messenger

        

mixin video-section
  +section('video')
    +video('0J2QdDbelmY')
        
mixin ui-kit-body
  .ui-kit-body
    +standard-buttons-section
    +arrow-buttons-section
    +percentages-and-pie-charts-section
    +sliders-section
    +stages-section
    +form-elements-section
    .ui-kit-body__row.ui-kit-body__row_double-sectioned
      .ui-kit-body__double-sectioned-row-part
        +search-dropdown-section
      .ui-kit-body__double-sectioned-row-part
        +user-profile-section  
    +news-events-section
    +location-section
    +calendar-messaging-sections
    +video-section
