include ../drop-down/drop-down.pug

mixin birthday-dropdowns
  - const yearOptions = ['Year'].concat(Array.from({length: 120}, (v, k) => 2016 - k));
  - 
    const monthOptions = [
      'Month', 
      'January', 
      'February', 
      'March', 
      'April', 
      'May', 
      'June', 
      'July', 
      'August', 
      'September', 
      'October', 
      'November', 
      'December',
    ];
  - const dayOptions = ['Day'].concat(Array.from({length: 31}, (v, k) => k + 1));
  .birthday-dropdowns
    +drop-down('year', yearOptions, 'birthday-dropdowns__year')
    +drop-down('month', monthOptions, 'birthday-dropdowns__month')
    +drop-down('day', dayOptions, 'birthday-dropdowns__day')
