include ../drop-down/drop-down.pug

mixin birthday-dropdowns
  - const yearOptions = ['Year'].concat(Array.from({length: 120}, (v, k) => 2016 - k));
  - 
    const monthOptions = [
      'Month', 
      'January', 
      'February', 
      'March', 
      'April', 
      'May', 
      'June', 
      'July', 
      'August', 
      'September', 
      'October', 
      'November', 
      'December',
    ];
  - const dayOptions = ['Day'].concat(Array.from({length: 31}, (v, k) => k + 1));
  - const classnames = require('classnames')
  .birthday-dropdowns
    +drop-down('year', yearOptions)(mix='birthday-dropdowns__year' selectMix=attributes.dropdownSelectMix)
    +drop-down('month', monthOptions)(mix='birthday-dropdowns__month' selectMix=attributes.dropdownSelectMix)
    +drop-down('day', dayOptions)(mix='birthday-dropdowns__day' selectMix=attributes.dropdownSelectMix)
