.messenger
  display flex
  flex-direction column
  justify-content center
  
  max-width 20.57rem
  
  &__name
    border-top-left-radius 0.21rem
    border-top-right-radius 0.21rem
    width 100%
    background theme-color-1
    min-height 5.86rem
    text-align center
    color white
    font light 2.40rem SourceSansPro
    padding-top 1.14rem
    
  &__body
    background #f2f2f2
    display flex
    flex-direction column
    justify-content center

  &__photo-container
    background darken(theme-color-1, 5)
    height 2.43rem
    z-index 1
    text-align center
    
  &__photo
    margin-top -0.79rem
    min-width 5rem
    width 32%
        
  &__icons
    display flex
    justify-content space-between
    margin 1.57rem 1.93rem

  &__text-area
    border 0.2rem solid white
    border-radius 0.3rem
    padding 1.2rem
    width 84.5%
    height 6.1rem
    margin auto
    margin-top 1rem
    font bold 0.93rem Lato
    
    
  &__scroll-view
    margin auto
    height 14.29rem
    width 84.5%
    overflow-y auto
    
  &__message-list
    margin auto
    width 100%
    display flex
    flex-direction column
    min-height 100%
    
        
  &__message
    color #999
    font-weight bold
    font-size 0.9rem
    width 100%
    padding 1.4rem 
    margin-top 1rem
    
    &_outcoming
      border-radius 0.21rem
      background lighten(theme-color-1, 30)
      
    &_incoming
      border-radius 0.64rem
      

  &__incoming-message-tooltip-pointer
    width: w = 1.86rem
    height 1.86rem
    left "calc(50% - %s)" % (w / 2)
    top 0
    
  &__reply-button
    margin auto    
    width 84.5%
    margin-top 1.2rem

