.profile-settings
  &__section
    &:not(:first-child)
      margin-top 2rem
                
  &__label
    color #666
    font-size 1.2rem
    font-weight bold
    min-width 7rem
    
    &::first-letter
      text-transform uppercase
      
  &__item
    width 100%
    display flex
    justify-content space-between
    align-items flex-end
    padding 0.4rem 0
    &:not(:last-child)
      border-bottom 0.1rem solid lighten(theme-color-2, 20)
      
    &_wrappable
      flex-wrap wrap
      
  &__input
    width 100%
    max-width 12rem
    
    &_contacts
      max-width 22rem
      
  &__save-notification
    display flex
    justify-content flex-end
    background theme-color-1
    color white
    align-self flex-end
    margin-top 1rem
    padding 0.2rem 0.2rem
    opacity 0
    transition opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    
    &_notifying
      opacity 1
    
  &__submit
    margin-top 1rem
    display flex
    align-items center
    justify-content space-between
    

  &__percentage
    margin-right 2rem