extends ~blocks/base-page/base-page

include ~blocks/header/header.pug
include ~blocks/button/button.pug
include ~blocks/tooltiped-input/tooltiped-input.pug
include ~blocks/sign-up/sign-up.pug

block title 
  | Join YASN!

block body
  .sign-in-container
    +header
    .sign-in
      +button("light-2", "big", "sign in")
      +tooltiped-input(type='text', placeholder='Your Login')
      +tooltiped-input(type='password' placeholder='Your Password')
  .temptation
    .temptation__cute Cute
    .temptation__nifty Nifty
    .temptation__amazing Amazing
  +sign-up