extends ~blocks/page/page.pug

include ~blocks/sign-in-header/sign-in-header.pug
include ~blocks/temptation/temptation.pug
include ~blocks/sign-up/sign-up.pug


block title 
  | Join YASN!

  
block header
  +sign-in-header

  
block page-content  
  +temptation
  +sign-up