extends ~blocks/base-page/base-page

include ~blocks/header/header.pug
include ~blocks/button/button.pug
include ~blocks/stages/stages.pug
include ~blocks/input/input.pug
include ~blocks/tick-box-field/tick-box-field.pug
include ~blocks/drop-down/drop-down.pug
include ~blocks/link/link.pug


block title 
  | Join YASN!

block body
  .sign-in-container
    +header
    .sign-in
      +button("light-2", "big", "sign in")
      +input(type='text', placeholder='Your Login')
      +input(type='password' placeholder='Your Password')        
  .temptation
    .temptation__cute Cute
    .temptation__nifty Nifty
    .temptation__amazing Amazing

  .sign-up
    .sign-up__join
      .sign-up__join-message Join us!
      +button('dark-1', 'big', 'Sign up')
    +stages([1], [2,3,4])
    form.sign-up__form
      .sign-up__sections-container
        .sign-up__section
          +input(type='text', placeholder='Your Login')
          +input(type='password' placeholder='Your Password')
          +input(type='password', placeholder='Repeat Password')

        .sign-up__section
          +input(type='text', placeholder='Your Email')
          +tick-box-field("I'd like to receive YASN newsletter", 'wants_newsletter','off')
          +tick-box-field("I'd like to receive YASN notifications", 'wants_notifications', 'on')

        .sign-up__section
          +input(type='text', placeholder='Your First Name')
          +input(type='text', placeholder='Your Second name')
          - const yearOptions = ['Year'].concat(Array.from({length: 120}, (v, k) => 2016 - k));
          - const monthOptions = ['Month'].concat(Array.from({length: 12}, (v, k) => k + 1));
          - const dayOptions = ['Day'].concat(Array.from({length: 31}, (v, k) => k + 1));
          .sign-up__drop-down-field
            .sign-up__drop-down-field-label Birthday
            +drop-down('year', 6.43, yearOptions)
            +drop-down('month', 7.14, monthOptions)
            +drop-down('day', 6.43, dayOptions)

        .sign-up__section
          .sign-up__message Finished! Unfortunately signing up doesn't work here, but you still can to sign in as John Smith.
          +link('dark-2')(href='./john_smith') Sign in as John Smith            
    +button('dark-2', 'big', 'next')