doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='keywords', content='social network,news,events')
    meta(name='description', content='Awesome social network')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    - const faviconPath = require('theme/favicon.ico')
    link(rel='shortcut icon' href=faviconPath)
    title
      block title
    block scripts
  body
    block body
