mixin arrow-button(theme, side, mix)  
  button.arrow-button(class=`arrow-button_theme_${theme} ${mix || ''}`)
    .fa.arrow-button__arrow(class=`arrow-button__arrow_theme_${theme} fa-angle-${side}`)
      
