include ../user-profile/user-profile.pug

mixin comment(name, profession, imagePath, theme)
  .commentable__comment
    .commentable__profile-container
      +user-profile(name, profession, imagePath, theme)&attributes(attributes)
    .commentable__comment-text
      block
