@require "../video/constants.styl"
@require "~constants.styl"

video-size-divider = 1.5
comment-video-width = video-width / video-size-divider

.commentable
  display flex
  flex-direction column
  
  &__commented-item
    display flex
    justify-content space-between
    
    &-navigation
      display flex      
      align-self flex-end
      & .arrow-button:first-child
        margin-right 1rem
            
  &__comment-list
    margin-top 1rem
    height 20rem
    overflow-y auto
    overflow-x hidden
    
  &__comment
    display flex
    border-bottom 0.2rem solid theme-color-3-foreground
    
    & .user-profile img
      height 4rem
    
  &__comment-text
    width (comment-video-width + 1rem)
    padding 0.5rem 0.5rem
    display flex
    flex-direction column
    color #333
    
    & .video
      height (video-height / video-size-divider)
      width comment-video-width
   
  &__input
    display flex
    align-items center
   
  & .text-area
    width (comment-video-width + 1rem)
    height 10rem
    
  & .button
    align-self flex-end