include ../arrow-button/arrow-button.pug

.commentable
  .commentable__commented-item
    block commented-item
    .commentable__commented-item-navigation
      +arrow-button('inactive', 'left')
      +arrow-button('inactive', 'right')
  .commentable__comment-list
    block comments
  .commentable__input
    img(src=require('user-photos/john.png'))
    textarea.text-area(placeholder='Your Comment')
  +button('dark-2', 'big', 'send')
