.input
  align-self center
  padding 0.21rem 0.86rem
  background theme-color-3
  color theme-color-3-foreground
  border none    
  height 2.00rem
  font 1rem SourceSansPro
  border-radius 0.14rem
  
        