include ../tooltip/tooltip.pug

mixin input
  .input 
    input.input__field.input__field_tooltiped&attributes(attributes)
    +tooltip('dark-1', "left")(hidden)

mixin preview-input(text, tooltipTheme)
  .input 
    input.input__field.input__field_tooltiped&attributes(attributes)
    +tooltip(tooltipTheme, "left")
      span= text