@require "../../constants.styl"

.slider
  width 260px
  
  &.ui-widget.ui-widget-content
    border none

  &.ui-slider
    background theme-inactive-color
    height 5px
  
  &.ui-slider .ui-slider-handle
    outline none
    border-radius 50%
    border none
    margin-top -2px
    height 20px 
    width 20px 

  &__scale
    display flex
    justify-content space-between
    margin-top 15px
    font-weight heavy 
    font-size 11px
    color scale-text-color


  &_type
    &_tooltiped
      &.ui-slider .ui-slider-handle
         background theme-color-2 
    &_scaled
      &.ui-slider .ui-slider-handle
         background theme-color-1 
      & .ui-slider-range
         background theme-color-1 
                    

    //- left -8px    
    //- top -31px
    
    
  .preview-column &
    margin-top 20px
    margin-right 70px
    &:last-child
      margin-right 0px