include ../location/location.pug
include ../link/link.pug

mixin contacts
  .contacts
    h1.heading Contacts
    .contacts__row
      table.contacts__table
        +contacts__table-row('Address') 
          | 1259 California St, San Francisco, CA
        +contacts__table-row('Phone')
          +link(href='tel:+1-234-567-8900') +1-234-567-8900
        +contacts__table-row('Fax')
          +link(href='fax:+1-234-567-8900') +1-234-567-8900
        +contacts__table-row('Email')
          +link(href='mailto:team@yasn.com') team@yasn.com
      +location([37.790988, -122.414978])

      
mixin contacts__table-row(header)
  tr.contacts__table-row
    th.contacts__table-header= header
    td
      block 
      