@require "./constants.styl"

@font-face {
  font-family "Lato" 
  src  url("./fonts/Lato/LatoRegular.eot") 
  src  url("./fonts/Lato/LatoRegular.eot")format("embedded-opentype"),
    url("./fonts/Lato/LatoRegular.woff") format("woff"),
    url("./fonts/Lato/LatoRegular.ttf") format("truetype") 
  font-style normal 
  font-weight normal 
}


@font-face {
  font-family "Lato" 
  src  url("./fonts/Lato/LatoItalic.eot") 
  src  url("./fonts/Lato/LatoItalic.eot")format("embedded-opentype"),
    url("./fonts/Lato/LatoItalic.woff") format("woff"),
    url("./fonts/Lato/LatoItalic.ttf") format("truetype") 
  font-style italic 
  font-weight normal 
}



@font-face {
  font-family "Lato" 
  src  url("./fonts/Lato/LatoBold.eot") 
  src  url("./fonts/Lato/LatoBold.eot")format("embedded-opentype"),
    url("./fonts/Lato/LatoBold.woff") format("woff"),
    url("./fonts/Lato/LatoBold.ttf") format("truetype") 
  font-style normal 
  font-weight bold 
}


@font-face {
  font-family "Lato" 
  src  url("./fonts/Lato/LatoLight.eot") 
  src  url("./fonts/Lato/LatoLight.eot")format("embedded-opentype"),
    url("./fonts/Lato/LatoLight.woff") format("woff"),
    url("./fonts/Lato/LatoLight.ttf") format("truetype") 
  font-style normal 
  font-weight light
}


@font-face {
  font-family "Lato" 
  src  url("./fonts/Lato/LatoBlack.eot") 
  src  url("./fonts/Lato/LatoBlack.eot")format("embedded-opentype"),
    url("./fonts/Lato/LatoBlack.woff") format("woff"),
    url("./fonts/Lato/LatoBlack.ttf") format("truetype") 
  font-style normal
  font-weight heavy
}


@font-face {
  font-family "Lato" 
  src  url("./fonts/Lato/LatoBlackItalic.eot") 
  src  url("./fonts/Lato/LatoBlackItalic.eot")format("embedded-opentype"),
    url("./fonts/Lato/LatoBlackItalic.woff") format("woff"),
    url("./fonts/Lato/LatoBlackItalic.ttf") format("truetype") 
  font-style italic
  font-weight heavy
}



@font-face {
  font-family "SourceSansPro" 
  src  url("./fonts/SourceSansPro/SourceSansProRegular.eot") 
  src  url("./fonts/SourceSansPro/SourceSansProRegular.eot")format("embedded-opentype"),
    url("./fonts/SourceSansPro/SourceSansProRegular.woff") format("woff"),
    url("./fonts/SourceSansPro/SourceSansProRegular.ttf") format("truetype") 
  font-style normal 
  font-weight normal 
}



@font-face {
  font-family "SourceSansPro" 
  src  url("./fonts/SourceSansPro/SourceSansProBold.eot") 
  src  url("./fonts/SourceSansPro/SourceSansProBold.eot")format("embedded-opentype"),
    url("./fonts/SourceSansPro/SourceSansProBold.woff") format("woff"),
    url("./fonts/SourceSansPro/SourceSansProBold.ttf") format("truetype") 
  font-style normal 
  font-weight bold 
}


@font-face {
  font-family "SourceSansPro"
  src url("./fonts/SourceSansPro/SourceSansProLight.eot")
  src url("./fonts/SourceSansPro/SourceSansProLight.eot")format("embedded-opentype"),
    url("./fonts/SourceSansPro/SourceSansProLight.woff") format("woff"),
    url("./fonts/SourceSansPro/SourceSansProLight.ttf") format("truetype")
  font-style normal
  font-weight light
}
