@require "./constants.styl"

*
  box-sizing border-box

html
  font-size 14px
  
body 
  margin 0
  font-family Lato
  color #666  
  

h2 
  font-weight heavy
  text-transform uppercase
  font-size 1.36rem

  color #666666
