.photocam-icon
  &__top-part
    margin auto
    width 13px
    height 3px
    background #8e8d8d
    border-top-right-radius 1px
    border-top-left-radius 1px
    
  &__main-part
    border-radius 1px
    display flex
    align-items center
    justify-content center    
    width 24px
    height 16px
    background #8e8d8d
    border-bottom-right-radius 1px
    border-top-left-radius 1px
    
  &__circle
    width 10px
    height 10px
    background #8e8d8d
    border 2px solid white
    border-radius 50%
    
