- var n = 0

mixin vimeo-player(id)
  - ++n
  iframe.vimeo-player(
    src="https://player.vimeo.com/video/" + id + "?api=1&player_id=player-" + n
    width="595" 
    height="340" 
    frameborder="0") 